:root {
  --main-font: "Roboto";
  /* --second-font: "Raleway"; */

  --white: rgb(255, 255, 255);
  --grey: rgb(120, 120, 120);
  --grey-border: rgb(186, 190, 197);
  --grey-privaci: rgb(141, 144, 150);
  --blue-url: #0077c5;
  --brown: rgb(57, 58, 61);
  --green: #2ca01c;
  --green-hov: #1d6e12;
  --body: rgb(236, 238, 241);

  --trns-general: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --trns-modal: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0 auto;
  font-family: var(--main-font);
  font-size: 16px;
  max-width: 1920px;
  /* line-height: Line-height(24)/font-size(16)=1.5 */
  line-height: 1.5;
  letter-spacing: 0.02em;
  box-sizing: border-box;
  background-color: var(--body);
}

.h-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 320px;
  max-width: 380px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  font-family: inherit;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

input{
  box-sizing: border-box;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width:1024px){

}



.header{
  padding: 20px 0;
}

.header-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-logo{
  margin-bottom: 20px;
}

.header-menu{
  display: flex;
  gap: 20px;
}

.menu-btn img{
  width: 100%;
  max-width: 18px;
  margin-bottom: 5px;
}

.menu-item .menu-btn{
  color: var(--grey);
}




.form-container{
  background-color: var(--white);
  text-align: center;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid var(--grey-border);
}

.form-name{
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 17px;
  color: var(--brown);
}

.form-instr{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--brown);
  margin-bottom: 30px;
}

.form-instr a {
  color: var(--blue-url);
}

.sign-google{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  white-space: pre-wrap;
  color: var(--brown);
  padding: 5px 0;
  border: 1px solid var(--brown);
  margin: 0 auto;
}
.sign-google img{
  margin-right: 5px;
}

.form-or{
  padding: 25px 0;
  display: flex;
  align-items: center;
}

.form-or p{
  margin: 0 10px;
  color: var(--grey-border);

}

.form-or:after,
.form-or:before{
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--grey-border);
}

.form-signin{
  margin-top: 20px;
}

.form-phone{
  display: none;
}

.email-inp{
  outline: none;
  border: 1px solid var(--grey);
  font-size: 16px;
  padding: 10px 8px;
  width: 100%;
  border-radius: 4px;
}
.email-inp:focus{
  border: 3px solid var(--green);
}

.email-txt{
  font-size: 10px;
  margin-top: 5px;
  color: var(--brown);
  text-align: left;
}

.form-checkbox{
  display: flex;
  margin: 20px 0;
}



/* Стилі для радіокнопок */
.login-btn input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.login-btn {
  display: flex;
}

/* Основний стиль для радіокнопок */
.login-btn label {
  flex: 1;
  padding: 10px 0;
  background-color: transparent;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

/* Стиль для полоси зеленого кольору в стані фокусу */
.login-btn label:focus::after {
  content: "";
  display: block;
  height: 5px;
  background-color: var(--green);
  margin-top: 5px;
}

/* Стиль для підсвічування полосою в стані ховера */
.login-btn label:hover::after {
  content: "";
  display: block;
  height: 5px;
  background-color: var(--green);
  margin-top: 5px;
  transition: background-color 0.3s ease;
}

/* Стиль для активної радіокнопки з полосою в стані фокусу */
.login-btn input[type="radio"]:checked+label::after {
  content: "";
  display: block;
  height: 5px;
  background-color: var(--green);
  margin-top: 5px;
}





.form-check{
  margin-right: 15px;
  width: 18px;
  height: 18px;
  border: 1px solid var(--grey-border);
}
.form-check label{
  font-size: 14px;
  color: var(--grey);
}

.signin-btn{
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  color: var(--white);
  background-color: var(--green);
  padding: 10px 8px;
  border-radius: 4px;
  transition: var(--trns-general);
  margin-bottom: 10px;
}

.signin-btn:focus,
.signin-btn:hover{
  background-color: var(--green-hov);
  text-decoration: underline;
}

.form-txt{
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 15px;
  text-align: center;
  color: var(--grey);
  border-bottom: 1px solid var(--grey-border);
  padding-bottom: 7px;
}
.form-txt a {
  color: var(--blue-url);
}

.form-txt a:focus,
.form-txt a:hover{
  text-decoration: underline;
}

.something a {
  font-size: 16px;
  color: var(--blue-url);
}
.something a:focus,
.something a:hover{
  text-decoration: underline;
}

.something p{
  font-size: 16px;
  color: var(--grey);
}

.form-privacy{
  border: 1px solid var(--grey-border);
  border-top: none;
  background-color: var(--body);
  padding: 16px 0;
  text-align: center;
  font-size: 10px;
  color: var(--grey-privaci);
  padding: 10px;
}
.form-privacy a {
  color: var(--blue-url);
}

.form-privacy a:focus,
.form-privacy a:hover{
  text-decoration: underline;
}


.footer{
  padding-top: 20px;
}

.footer-menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 15px;
}

.menu-item a{
  color: var(--blue-url);
  font-size: 15px;
  transition: var(--trns-general);
}

.menu-item a:focus,
.menu-item a:hover{
  text-decoration: underline;
}

.footer-inc{
  text-align: center;
  color: var(--grey);
  font-size: 10px;
  margin-bottom: 5px;
}


/* Mobile */







/* Mobile */