:root {
  --main-font: "Roboto";
  /* --second-font: "Raleway"; */

  --grey: #808080;

  --trns-general: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --trns-modal: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0;
  font-family: var(--main-font);
  font-size: 16px;
  max-width: 1920px;
  /* line-height: Line-height(24)/font-size(16)=1.5 */
  line-height: 1.5;
  letter-spacing: 0.02em;
  box-sizing: border-box;
}

.h-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  font-family: inherit;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

input{
  box-sizing: border-box;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width:1024px){

}



.header{
  padding: 20px 0;
}

.header-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-logo{
  margin-bottom: 20px;
}

.header-menu{
  display: flex;
  gap: 20px;
}

.menu-btn img{
  width: 100%;
  max-width: 18px;
  margin-bottom: 5px;
}

.menu-btn p{
  color: var(--grey);
}